{% extends "user_base.html" %}
{%block title%}Cennik{%endblock%}
  {%block content%}
    <div class="row justify-content-center">
      <h1>CENNIK</h1>
    </div>
    <div class="row justify-content-between cennik_item">
      <div class="col-md-6 p-0">
        <h3>Do 3 dni</h3>
      </div>
      <div class="col-md-6 p-0" style="text-align: end;">
        <h3>
          <span style="color: #ff9b23;">149 zł</span>
          za dobę + kaucja</h3>
      </div>
    </div>
    <div class="row justify-content-between cennik_item">
      <div class="col-md-6 p-0">
        <h3>Od 4 do 7 dni</h3>
      </div>
      <div class="col-md-6 p-0" style="text-align: end;">
        <h3>
          <span style="color: #ff9b23;">139 zł</span>
          za dobę + kaucja</h3>
      </div>
    </div>
    <div class="row justify-content-between cennik_item">
      <div class="col-md-6 p-0">
        <h3>Od 8 do 14 dni</h3>
      </div>
      <div class="col-md-6 p-0" style="text-align: end;">
        <h3>
          <span style="color: #ff9b23;">129 zł</span>
          za dobę + kaucja</h3>
      </div>
    </div>
    <div class="row justify-content-between cennik_item">
      <div class="col-md-6 p-0">
        <h3>Od 15 do 30 dni</h3>
      </div>
      <div class="col-md-6 p-0" style="text-align: end;">
        <h3>
          <span style="color: #ff9b23;">119 zł</span>
          za dobę + kaucja</h3>
      </div>
    </div>
    <div class="row justify-content-between cennik_item">
      <div class="col-md-6 p-0">
        <h3>Od 31 dni</h3>
      </div>
      <div class="col-md-6 p-0" style="text-align: end;">
        <h3>
          <span style="color: #ff9b23;">109 zł</span>
          za dobę + kaucja</h3>
      </div>
    </div>
    <div class="row" style="width: 50%; margin-top: 70px;">
      <h3>Kaucja podlega zwrotowi.<br>
        Wysokość kaucji zależy od wynajmowanego modelu.<br>
        O szczegóły prosimy pytać naszych doradców.</h3>
    </div>
    {%endblock%}
