{% extends "user_base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12" id="car_bg" style="padding: 0px !important;">
      <div class="row">
        <div class="col-md-12 mt-5 mb-3">
          <h1 style="color: white; text-align: center; font-size: 100px">ZNAJDŹ SWOJEGO KOMPANA</h1>
        </div>
      </div>
      <div class="row" id="datetime_container"></div>
    </div>
  </div>
  <div class="row carousel mx-auto" data-ride="carousel" id="mySlider" data-interval="1500">
    <div class="col-md-4 carousel-item active">
      <img src="//placehold.it/500x300" class="img-fluid" alt="">
      <div class="carousel-caption">
        <h3>1 My heading here</h3>
        <p>My text here</p>
      </div>
    </div>
    <div class="col-md-4 carousel-item active">
      <img src="//placehold.it/500x300/bbb" class="img-fluid" alt="">
      <div class="carousel-caption">
        <h3>2 My heading here</h3>
        <p>My text here</p>
      </div>
    </div>
    <div class="col-md-4 carousel-item active">
      <img src="//placehold.it/500x300/999/fff" class="img-fluid" alt="">
      <div class="carousel-caption">
        <h3>3 My heading here</h3>
        <p>My text here</p>
      </div>
    </div>
    <div class="col-md-4 carousel-item">
      <img src="//placehold.it/500x300/777/fff" class="img-fluid" alt="">
      <div class="carousel-caption">
        <h3>4 My heading here</h3>
        <p>My text here</p>
      </div>
    </div>
    <div class="col-md-4 carousel-item">
      <img src="//placehold.it/500x300/555/fff" class="img-fluid" alt="">
      <div class="carousel-caption">
        <h3>5 My heading here</h3>
        <p>My text here</p>
      </div>
    </div>
    <div class="col-md-4 carousel-item">
      <img src="//placehold.it/500x300/333/fff" class="img-fluid" alt="">
      <div class="carousel-caption">
        <h3>6 My heading here</h3>
        <p>My text here</p>
      </div>
    </div>
    <div class="col-md-4 carousel-item">
      <img src="//placehold.it/500x300/111/fff" class="img-fluid" alt="">
      <div class="carousel-caption">
        <h3>7 My heading here</h3>
        <p>My text here</p>
      </div>
    </div>
    <div class="col-md-4 carousel-item">
      <img src="//placehold.it/500x300/000/fff" class="img-fluid" alt="">
      <div class="carousel-caption">
        <h3>8 My heading here</h3>
        <p>My text here</p>
      </div>
    </div>
  </div>

{% endblock %}
