{% extends "user_base.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-12" id="car_bg" style="padding: 0px !important;">
      <div class="md-form">
        <div class="row">
          <div class="col-md-12 mt-5 mb-3">
            <h1 style="color: white; text-align: center; font-size: 100px">ZNAJDŹ SWOJEGO KOMPANA</h1>
          </div>
        </div>
        <div class="row justify-content-center p-5" id="datetime_container">
          <div class="row">
            <div class="col-md-4">
              <h1 style="color: black; text-align: center; font-size: 50px;">WYNAJEM</h1>
            </div>
            <div class="col-md-4 px-5">
              <div class="md-form">
                <img class="fa prefix mt-1" style="width: 1.4rem;" src="{{ url_for('static', filename='images/miejsce.svg') }}">
                <input style="border-bottom: 1px solid #000; color: #000;" type="text" class="form-control black-placeholder" placeholder="Miejsce odbioru">
              </div>
            </div>
            <div class="col-md-4 px-5">
              <div class="md-form">
                <img class="fa prefix mt-1" style="width: 1.8rem;" src="{{ url_for('static', filename='images/data.svg') }}">
                <input style="border-bottom: 1px solid #000; color: #000;" type="text" class="form-control black-placeholder" placeholder="Data odbioru">
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <h1 style="color: black; text-align: center; font-size: 50px;">ZWROT</h1>
            </div>
            <div class="col-md-4 px-5">
              <div class="md-form">
                <img class="fa prefix mt-1" style="width: 1.4rem;" src="{{ url_for('static', filename='images/miejsce.svg') }}">
                <input style="border-bottom: 1px solid #000; color: #000;" type="text" class="form-control black-placeholder" placeholder="Miejsce zwrotu">
              </div>
            </div>
            <div class="col-md-4 px-5">
              <div class="md-form">
                <img class="fa prefix mt-1" style="width: 1.8rem;" src="{{ url_for('static', filename='images/data.svg') }}">
                <input style="border-bottom: 1px solid #000; color: #000;" type="text" class="form-control black-placeholder" placeholder="Data zwrotu">
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <input type="submit" class="search_button" value="SZUKAJ">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
