{% extends "user_base.html" %}
{% block content %}
  {% if error %}
    <script>
      window.onload = alert("{{error}}")
    </script>
  {% endif %}
  {% if car %}
    <form action="/admin/update/{{car['id']}}" method="POST">
      <input type="text" name="car_name" value="{{car['car_name']}}">
      <input type="text" name="engine" value="{{car['engine']}}">
      <input type="text" name="fuel" value="{{car['fuel']}}">
      <input type="text" name="gearbox" value="{{car['gearbox']}}">
      <input type="text" name="seats" value="{{car['seats']}}">
      <input type="submit" value="Submit">
    </form>
  {% endif %}
{% endblock %}